repos:
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      args: [--line-length=120]
      exclude: dynamo/tools/DDRTree_py.py|dynamo/tools/psl_py.py
#      exclude: |
#        (?x)^(
#            dynamo/tools/DDRTree_py.py|
#            dynamo/tools/psl_py.py
#        )$


# -   repo: https://gitlab.com/PyCQA/flake8
#     rev: 3.9.1
#     hooks:
#     -   id: flake8
#         args: [--max-line-length=120]

-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
