repos:
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
      args: [--line-length=120]

# -   repo: https://gitlab.com/PyCQA/flake8
#     rev: 3.9.1
#     hooks:
#     -   id: flake8
#         args: [--max-line-length=120]
